<md-content>
    <md-toolbar class="md-hue-2">
        <h2 class="md-toolbar-tools"><span>TubeRoom</span></h2>
    </md-toolbar>

    <div layout="row" layout-xs="column">
        <div flex="50">
            <md-card>
                <md-card-title>
                    <span class="md-headline">Your Recommendations</span>
                </md-card-title>
                <md-card-content>
                    <div layout="row" layout-align="space-around"
                         ng-if="$ctrl.isLoading">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <md-list ng-if="!$ctrl.isLoading">
                        <md-list-item class="md-3-line"
                                      ng-repeat="recommendation in $ctrl.recommendationsList">
                            <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                                 class="md-avatar" />
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ recommendation.title }}</h3>
                                <h4>{{ recommendation.firstName }}</h4>
                                <p>{{ recommendation.message }}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">

                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-title>
                    <span class="md-headline">New Recommendation</span>
                </md-card-title>
                <md-card-content>
                    <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                         height="50" width="50"
                         class="md-avatar" />

                    <md-input-container>
                        <label>Media</label>
                        <md-select ng-model="$ctrl.newRecommendation.mediaID">
                            <md-option ng-repeat="media in $ctrl.mediaList"
                                       ng-value="media.id">
                                {{ media.title }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Message</label>
                        <input name="message"
                               type="text"
                               ng-model="$ctrl.newRecommendation.message"
                               required>
                    </md-input-container>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary"
                               ng-click="$ctrl.createRecommendation()">
                        Create
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>

        <div flex="50">
            <md-card>
                <md-card-title>
                    <span class="md-headline">Media</span>
                    <span flex></span>
                    <md-button class="md-icon-button"
                               ng-click="$ctrl.refreshUserList()">
                        <md-icon>refresh</md-icon>
                    </md-button>
                </md-card-title>
                <md-card-content>
                    <md-grid-list md-cols="2" md-row-height="2:2">
                        <md-grid-tile md-colspan="1" md-rowspan="1"
                                      ng-repeat="media in $ctrl.mediaList">
                            <md-grid-tile-header>
                                <h3>{{ media.title }}</h3>
                            </md-grid-tile-header>

                            <p>{{ media.description }}</p>

                            <md-grid-tile-footer>
                                <md-button>Recommend</md-button>
                                <md-button>Review</md-button>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
