<!-- Toolbar -->
<navbar [current-user]="$ctrl.currentUser"
        [show-search]="$ctrl.currentView.getValue() == 'search'"
        (view-change)="$ctrl.currentView.next($event)"
        (search)="$ctrl.onSearch($event)"
        (logout)="$ctrl.onLogout()"></navbar>

<md-content style="height: 100%; overflow: hidden;">
    <!-- Desktop -->
    <div style="overflow-y: auto; height: 100%;" hide-xs>
        <!-- Login View -->
        <div flex="33" flex-offset="33"
             ng-if="$ctrl.currentView.getValue() === 'login' || $ctrl.currentView.getValue() === 'signup'">
            <login (login-success)="$ctrl.onLogin($event)"
                   (signup-success)="$ctrl.onSignup($event)"></login>
        </div>
        <!-- Home View -->
        <div layout="row"
             ng-if="$ctrl.currentView.getValue() == 'home'">
            <div flex="50">
                <activity-feed [reviews]="$ctrl.userReviews[$ctrl.currentUser.id]"
                               [recommendations]="$ctrl.userRecommendations"
                               [is-anonymous]="!$ctrl.currentUser"></activity-feed>
            </div>
            <div flex="50">
                <media-browser (review)="$ctrl.viewMediaDetail($event)"
                               (recommend)="$ctrl.viewMediaDetail($event)"></media-browser>
            </div>
        </div>
        <!-- Detail View -->
        <div layout="row"
             ng-if="$ctrl.currentView.getValue() == 'detail'">
            <!-- Media Detail View -->
            <div flex="50">
                <media-detail [media]="$ctrl.currentMedia"
                              [can-recommend]="$ctrl.currentUser"
                              [user-list]="$ctrl.userList"
                              (create-recommendation)="$ctrl.onCreateRecommendation($event)"></media-detail>
            </div>
            <!-- Reviews List View -->
            <div flex="50">
                <reviews-list [reviews]="$ctrl.mediaReviews[$ctrl.currentMedia.id]"
                              [can-review]="$ctrl.currentUser"
                              [current-user]="$ctrl.currentUser"
                              (create-review)="$ctrl.onCreateReview($event)"></reviews-list>
            </div>
        </div>
    </div>

    <!-- Mobile -->
    <div layout="column" style="overflow-y: auto; height: 100%;" hide-gt-xs>
        <!-- Login View -->
        <div flex="100"
             ng-if="$ctrl.currentView.getValue() === 'login' || $ctrl.currentView.getValue() === 'signup'">
            <login (login-success)="$ctrl.onLogin($event)"
                   (signup-success)="$ctrl.onSignup($event)"></login>
        </div>
        <!-- Home View -->
        <div flex="100"
             ng-if="$ctrl.currentView.getValue() == 'home'">
            <activity-feed [reviews]="$ctrl.userReviews[$ctrl.currentUser.id]"
                           [recommendations]="$ctrl.userRecommendations"
                           [is-anonymous]="!$ctrl.currentUser"></activity-feed>
        </div>
        <!-- Browse View -->
        <div flex="100"
             ng-if="$ctrl.currentView.getValue() == 'browse'">
            <media-browser (review)="$ctrl.viewMediaDetail($event)"
                           (recommend)="$ctrl.viewMediaDetail($event)"></media-browser>
        </div>
        <!-- Detail View -->
        <div flex="100"
             ng-if="$ctrl.currentView.getValue() == 'detail'">
            <media-detail [media]="$ctrl.currentMedia"
                          [can-recommend]="$ctrl.currentUser"
                          [user-list]="$ctrl.userList"
                          (create-recommendation)="$ctrl.onCreateRecommendation($event)"></media-detail>
        </div>
        <!-- Reviews List View -->
        <div flex="100"
             ng-if="$ctrl.currentView.getValue() == 'reviews'">
            <reviews-list [reviews]="$ctrl.mediaReviews[$ctrl.currentMedia.id]"
                          [can-review]="$ctrl.currentUser"
                          [current-user]="$ctrl.currentUser"
                          (create-review)="$ctrl.onCreateReview($event)"></reviews-list>
        </div>
        <!-- Search View -->
        <div flex="100"
             ng-if="$ctrl.currentView.getValue() == 'search'">
            <!-- FIXME: Make into new component -->
            <md-list>
                <md-list-item ng-repeat="result in $ctrl.searchResults"
                              ng-click="$ctrl.viewMediaDetail(result)">
                    <img style="height: 100px; width: auto;"
                         ng-src="/~merdlera/cs340/final/img/media/{{ ::result.id }}.jpg">
                    <span style="padding: 10px;">{{ result.title }}</span>
                </md-list-item>
            </md-list>
        </div>
    </div>
</md-content>
