.star-picker i {
    cursor: pointer;
    opacity: 0.8;
}

.star-picker i:hover {
    opacity: 1;
}

.star-picker i.active {
    opacity: 1;
}

.user-menu-toggle span {
    padding: 10px;
}

.user-menu-toggle:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
