<md-card>
    <md-card-title>
        <span class="md-headline">Reviews</span>
    </md-card-title>
    <md-card-content>
        <div layout="row" layout-align="space-around"
             ng-if="$ctrl.isLoading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <div ng-if="!$ctrl.isLoading">
            <!-- Empty List -->
            <div ng-if="$ctrl.reviews.length == 0"
                 class="empty-list">
                <i class="material-icons">forum</i> <span>There are no reviews</span>
            </div>
            <!-- Full List -->
            <md-list>
                <md-list-item class="md-3-line"
                              ng-repeat="review in $ctrl.reviews"
                              ng-click="null">
                    <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                         class="md-avatar" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ review.title }}</h3>
                        <h4>{{ review.firstName }}</h4>
                        <p>{{ review.description }}</p>
                    </div>
                </md-list-item>
            </md-list>

            <!-- Anonymous User -->
            <div class="empty-list"
                 ng-if="!$ctrl.canReview">
                <i class="material-icons">account_circle</i> <span>Login to create review</span>
            </div>

            <!-- Logged In User -->
            <form name="$ctrl.newReviewForm"
                  flex layout="row"
                  ng-if="$ctrl.canReview">
                <div layout="column" flex="1" style="padding: 10px;">
                    <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                         height="50" width="50"
                         class="md-avatar" />
                </div>
                <div layout="column" flex="4" style="width: 100%">
                    <div layout="row">
                        <span>Rating:</span>
                        <span class="star-picker"
                              ng-repeat="star in $ctrl.reviewStars track by $index"
                              ng-click="star = !star">
                            <i ng-if="!star" class="material-icons">star_border</i>
                            <i ng-if="star" class="material-icons">star</i>
                        </span>
                    </div>

                    <md-input-container>
                        <label>Description</label>
                        <textarea name="description"
                                  type="text"
                                  ng-model="$ctrl.newReview.description"
                                  md-maxlength="500" required></textarea>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center"
                     ng-if="$ctrl.canReview">
        <md-button class="md-primary"
                   ng-click="$ctrl.createReview.emit($ctrl.newReview)"
                   ng-disabled="$ctrl.newReviewForm.$invalid && $ctrl.newReviewForm.$dirty">
            Create
        </md-button>
    </md-card-actions>
</md-card>
