md-toolbar.toolbar-fade {
    transition: all 0.2s linear 0s;
}

md-toolbar.toolbar-fade.ng-enter {
    opacity: 0;
}

md-toolbar.toolbar-fade.ng-enter.ng-enter-active {
    opacity: 1;
}

md-toolbar.toolbar-fade.ng-leave {
    opacity: 1;
}

md-toolbar.toolbar-fade.ng-leave.ng-leave-active {
    opacity: 0;
}

.user-menu-toggle span {
    padding: 10px;
}

.user-menu-toggle:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.search-back-btn {
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.search-icon {
    padding-right: 10px;
}

.search-icon:hover {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.search-toolbar {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.6);
    background: #fff;
}

.search-container {
    height: 100%;
    padding: 10px;
}

.search-container input {
    border: 0;
    appearance: none;
    width: 100%;
    border-radius: 2px;
    padding: 10px;
}

.search-container input:focus {
    outline: none;
}

.desktop-search input {
    background: rgba(0, 0, 0, 0.3);
    width: 80%;
    transition: all 0.2s linear;
    color: rgba(255,255,255,0.6);
}

.desktop-search:hover input,
.desktop-search input:focus {
    background: #fff;
    width: 100%;
}
