<!-- Normal Navbar -->
<md-toolbar class="md-hue-2 toolbar-fade"
            ng-if="!$ctrl.showSearch">
    <div layout="column">
            <div class="md-toolbar-tools">
                <div flex layout="row">
                    <span style="cursor: pointer;" ng-click="$ctrl.viewChange.emit('list')">TubeRoom</span>
                </div>
                <div ng-if="!$ctrl.currentUser">
                    <md-button ng-click="$ctrl.viewChange.emit('login')">Login</md-button>
                </div>
                <div layout="column" layout-align="center center" class="search-icon"
                     ng-click="$ctrl.toggleSearch()">
                    <i class="material-icons">search</i>
                </div>
                <div ng-if="$ctrl.currentUser"
                     layout="row" layout-align="center center" class="user-menu-toggle"
                     ng-click="$ctrl.logout.emit()">
                    <md-tooltip>Logout</md-tooltip>
                    <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                         class="md-avatar" height="40" width="40">
                    <span>{{ $ctrl.currentUser.firstName }}</span>
                </div>
            </div>
            <div class="md-toolbar-tools" hide-gt-xs>
                <md-button class="md-icon-button" flex
                           ng-click="$ctrl.viewChange.emit('home')">
                    <i class="material-icons">home</i>
                </md-button>
                <md-button class="md-icon-button" flex
                           ng-click="$ctrl.viewChange.emit('browse')">
                    <i class="material-icons">movie</i>
                </md-button>
            </div>
        </div>
    </md-toolbar>
</div>

<!-- Mobile Search Bar -->
<md-toolbar class="toolbar-fade"
            ng-if="$ctrl.showSearch">
    <div class="md-toolbar-tools search-toolbar">
        <!-- Back button -->
        <div layout="column" layout="center center" class="search-back-btn"
             ng-click="$ctrl.toggleSearch()">
            <i class="material-icons">arrow_back</i>
        </div>
        <!-- Search input -->
        <div class="search-container" layout="column" layout-align="center center" flex="33" flex-xs>
            <input type="text" placeholder="Search"
                   ng-model="$ctrl.searchText"
                   ng-change="$ctrl.search.emit($ctrl.searchText)">
        </div>
    </div>
</md-toolbar>
