<md-toolbar class="md-hue-2">
    <div layout="column">
        <!-- Normal navbar -->
        <div class="md-toolbar-tools"
             ng-show="!$ctrl.showSearch">
            <div flex layout="row">
                <span style="cursor: pointer;" ng-click="$ctrl.viewChange.emit('list')">TubeRoom</span>
            </div>
            <div ng-if="!$ctrl.currentUser">
                <md-button ng-click="$ctrl.viewChange.emit('login')">Login</md-button>
            </div>
            <div layout-align="center center" class="user-menu-toggle"
                 ng-click="$ctrl.showSearch = true">
                <i class="material-icons">search</i>
            </div>
            <div ng-if="$ctrl.currentUser"
                 layout="row" layout-align="center center" class="user-menu-toggle"
                 ng-click="$ctrl.logout.emit()">
                <md-tooltip>Logout</md-tooltip>
                <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                     class="md-avatar" height="40" width="40">
                <span>{{ $ctrl.currentUser.firstName }}</span>
            </div>
        </div>
        <div class="md-toolbar-tools" hide-gt-xs
             ng-show="!$ctrl.showSearch">
            <md-button class="md-icon-button" flex
                       ng-click="$ctrl.viewChange.emit('home')">
                <i class="material-icons">home</i>
            </md-button>
            <md-button class="md-icon-button" flex
                       ng-click="$ctrl.viewChange.emit('browse')">
                <i class="material-icons">movie</i>
            </md-button>
        </div>
        <!-- Search -->
        <div class="md-toolbar-tools" hide-gt-xs
             ng-show="$ctrl.showSearch">
            <!-- Back button -->
            <div layout="center center" class="user-menu-toggle"
                 ng-click="$ctrl.showSearch = false">
                <i class="material-icons">arrow_back</i>
            </div>
            <!-- Search input -->
            <div layout-align="center center" flex="33" flex-xs class="search-container">
                <input type="text"
                       ng-model="$ctrl.searchText">
            </div>
        </div>
    </div>
</md-toolbar>
