md-toolbar.toolbar-slide {
    transition: all 2.0s linear;
}

md-toolbar.toolbar-slide.ng-enter {
    transform: translate(500px);
}

md-toolbar.toolbar-slide.ng-enter.ng-enter-active {

}

md-toolbar.toolbar-slide.ng-leave {

}

md-toolbar.toolbar-slide.ng-leave.ng-leave-active {
    transform: translate(500px);
}

.user-menu-toggle span {
    padding: 10px;
}

.user-menu-toggle:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.search-back-btn {
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.search-icon {
    padding-right: 10px;
}

.search-icon:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.search-toolbar {
    box-shadow: 0px 2px 1px rgba(0,0,0,0.6);
    background: #fff;
}

.search-container {
    height: 100%;
}

.search-container input {
    border: 0;
    appearance: none;
}

.search-container input:focus {
    outline: none;
}
