.media-tile md-grid-tile-footer {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease-in;
}

.media-tile:hover md-grid-tile-footer {
    visibility: visible;
}

.media-tile md-grid-tile-header {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease-in;
}

.media-tile:hover md-grid-tile-header {
    visibility: visible;
}

.media-tile .media-description {
    text-overflow: ellipsis;
    margin: 20px;
}

.media-tile md-grid-tile-header {

}
