.media-tile:hover {
    cursor: pointer;
}

.media-tile md-grid-tile-header {
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease-in-out;
}

.media-tile:hover md-grid-tile-header {
    opacity: 1;
}
